In [107]:
import pandas as pd

In [108]:
dfcontent = pd.read_csv("Content.csv")
dfreactions = pd.read_csv("Reactions.csv")
dfreactionstypes = pd.read_csv("ReactionTypes.csv")

In [109]:
dfcontent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [110]:
dfreactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [111]:
dfreactionstypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

In [112]:
dfcontent.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [113]:
dfreactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [114]:
dfreactionstypes.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [115]:
dfreactions = dfreactions.dropna()

In [116]:
dfreactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 1 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22534 non-null  int64
 1   Content ID  22534 non-null  object
 2   User ID     22534 non-null  object
 3   Type        22534 non-null  object
 4   Datetime    22534 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [117]:
dfcontent = dfcontent.drop("User ID",axis =1)

In [118]:
dfreactions = dfreactions.drop("User ID",axis =1)

In [119]:
dfcontent = dfcontent.drop("URL",axis = 1)

In [120]:
dfcontent['Category'] = dfcontent['Category'].str.replace('"', '')

In [121]:
dfcontent = dfcontent.rename(columns={'Type': 'Content Type'})

In [122]:
dfcontent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1000 non-null   int64
 1   Content ID    1000 non-null   object
 2   Content Type  1000 non-null   object
 3   Category      1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [123]:
dfreactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22534 non-null  int64
 1   Content ID  22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  object
dtypes: int64(1), object(3)
memory usage: 880.2+ KB

In [124]:
dfreactionstypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

In [125]:
dfcontent.to_csv('Content.csv', index=False)
dfreactions.to_csv('Reactions.csv', index=False)
dfreactionstypes.to_csv('ReactionTypes.csv', index=False)

In [126]:
merged_df = pd.merge(dfreactions, dfcontent, on='Content ID')

In [127]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 0 to 22533
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  22534 non-null  int64
 1   Content ID    22534 non-null  object
 2   Type          22534 non-null  object
 3   Datetime      22534 non-null  object
 4   Unnamed: 0_y  22534 non-null  int64
 5   Content Type  22534 non-null  object
 6   Category      22534 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.4+ MB

In [128]:
merged_df = merged_df.drop("Unnamed: 0_y",axis = 1)

In [129]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 0 to 22533
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  22534 non-null  int64
 1   Content ID    22534 non-null  object
 2   Type          22534 non-null  object
 3   Datetime      22534 non-null  object
 4   Content Type  22534 non-null  object
 5   Category      22534 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

In [130]:
merged_df.head()

,Unnamed: 0_x,Content ID,Type,Datetime,Content Type,Category
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying

In [131]:
merged_df2 = pd.merge(merged_df, dfreactionstypes, on='Type', how='left')

In [132]:
merged_df2.head()

,Unnamed: 0_x,Content ID,Type,Datetime,Content Type,Category,Unnamed: 0,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,2,negative,0
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,11,negative,10
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,14,negative,15
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,2,negative,0
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,4,positive,30

In [133]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 0 to 22533
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  22534 non-null  int64
 1   Content ID    22534 non-null  object
 2   Type          22534 non-null  object
 3   Datetime      22534 non-null  object
 4   Content Type  22534 non-null  object
 5   Category      22534 non-null  object
 6   Unnamed: 0    22534 non-null  int64
 7   Sentiment     22534 non-null  object
 8   Score         22534 non-null  int64
dtypes: int64(3), object(6)
memory usage: 1.7+ MB

In [134]:
merged_df2 = merged_df2.drop("Unnamed: 0",axis = 1)

In [135]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 0 to 22533
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  22534 non-null  int64
 1   Content ID    22534 non-null  object
 2   Type          22534 non-null  object
 3   Datetime      22534 non-null  object
 4   Content Type  22534 non-null  object
 5   Category      22534 non-null  object
 6   Sentiment     22534 non-null  object
 7   Score         22534 non-null  int64
dtypes: int64(2), object(6)
memory usage: 1.5+ MB

In [136]:
merged_df2 = merged_df2.rename(columns={'Type': 'Reaction Type'})

In [137]:
merged_df2.to_csv('Cleaned Data.csv', index=False)

In [138]:
category_scores = merged_df2.groupby('Category')['Score'].sum()

print(category_scores)

Category
Animals             3561
Culture             1450
Education           1218
Fitness             5017
Food                3142
Healthy Eating       272
Public Speaking     1231
Science             4324
Soccer              2516
Studying            1176
Technology           217
Travel              1010
Veganism             579
animals            65063
cooking            59174
culture            59213
dogs               48398
education          51541
fitness            45818
food               58456
healthy eating     62866
public speaking    44520
science            61081
soccer             50700
studying           48266
technology         62818
tennis             46185
travel             58348
veganism           45322
Name: Score, dtype: int64

In [139]:
category_scores_sorted = category_scores.sort_values(ascending=False)
category_scores_sorted.to_csv('Total Scores.csv', header=True)

In [140]:
top_categories = category_scores.nlargest(5)
top_categories.to_csv('Top 5.csv', header=True)

In [141]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\ayush jain\appdata\local\programs\python\python311\lib\site-packages (3.1.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [142]:
cleaneddf = pd.read_csv("Cleaned Data.csv")
totaldf = pd.read_csv("Total Scores.csv")
top5df = pd.read_csv("Top 5.csv")

In [143]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 0 to 22533
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0_x   22534 non-null  int64
 1   Content ID     22534 non-null  object
 2   Reaction Type  22534 non-null  object
 3   Datetime       22534 non-null  object
 4   Content Type   22534 non-null  object
 5   Category       22534 non-null  object
 6   Sentiment      22534 non-null  object
 7   Score          22534 non-null  int64
dtypes: int64(2), object(6)
memory usage: 1.5+ MB

In [144]:

with pd.ExcelWriter('Cleaned Data.xlsx') as writer:
    cleaneddf.to_excel(writer, sheet_name='Cleaned Data', index=False)
    totaldf.to_excel(writer, sheet_name='Total Scores', index=False)
    top5df.to_excel(writer, sheet_name='Top 5', index=False)